.user-health-panel {
    padding: 1rem;
    background: #f7f9fc;
    padding: 20px;
    position: relative;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-avatar {
  text-align: center;
}

.health-data div {
    padding: 4px;
    color: #b1a7ff;
    width: 100%;
}
